{
  "$schema": "https://zed.dev/schema/themes/v0.1.0.json",
  "name": "base16",
  "author": "{{scheme-author}}",
  "themes": [
    {
      "name": "Base16 {{scheme-name}}",
      "appearance": "dark",
      "style": {
        "border": "#{{base02-hex}}",
        "border.variant": "#{{base02-hex}}",
        "border.focused": null,
        "border.selected": null,
        "border.transparent": null,
        "border.disabled": null,
        "elevated_surface.background": "#{{base00-hex}}",
        "surface.background": "#{{base00-hex}}",
        "background": "#{{base00-hex}}",
        "element.background": "#{{base01-hex}}",
        "element.hover": "#{{base02-hex}}",
        "element.active": null,
        "element.selected": "#{{base02-hex}}",
        "element.disabled": null,
        "drop_target.background": "#{{base02-hex}}",
        "ghost_element.background": null,
        "ghost_element.hover": "#{{base01-hex}}",
        "ghost_element.active": null,
        "ghost_element.selected": "#{{base02-hex}}",
        "ghost_element.disabled": null,
        "text": "#{{base05-hex}}",
        "text.muted": "#{{base04-hex}}",
        "text.placeholder": "#{{base07-hex}}",
        "text.disabled": "#{{base02-hex}}",
        "text.accent": "#{{base0C-hex}}",
        "icon": null,
        "icon.muted": null,
        "icon.disabled": null,
        "icon.placeholder": null,
        "icon.accent": null,
        "status_bar.background": "#{{base00-hex}}",
        "title_bar.background": "#{{base00-hex}}",
        "toolbar.background": "#{{base00-hex}}",
        "tab_bar.background": "#{{base00-hex}}",
        "tab.inactive_background": "#{{base01-hex}}",
        "tab.active_background": "#{{base00-hex}}",
        "search.match_background": "#{{base02-hex}}",
        "panel.background": "#{{base00-hex}}",
        "panel.focused_border": "#{{base02-hex}}",
        "pane.focused_border": null,
        "scrollbar_thumb.background": "#{{base02-hex}}",
        "scrollbar.thumb.hover_background": "#{{base03-hex}}",
        "scrollbar.thumb.border": "#{{base02-hex}}6f",
        "scrollbar.track.background": "#{{base00-hex}}",
        "scrollbar.track.border": null,
        "editor.foreground": "#{{base05-hex}}",
        "editor.background": "#{{base00-hex}}",
        "editor.gutter.background": "#{{base00-hex}}",
        "editor.subheader.background": "#{{base00-hex}}",
        "editor.active_line.background": "#{{base01-hex}}",
        "editor.highlighted_line.background": null,
        "editor.line_number": "#{{base03-hex}}",
        "editor.active_line_number": "#{{base06-hex}}",
        "editor.invisible": null,
        "editor.wrap_guide": "#{{base01-hex}}",
        "editor.active_wrap_guide": "#{{base03-hex}}",
        "editor.document_highlight.read_background": "#{{base01-hex}}",
        "editor.document_highlight.write_background": "#{{base01-hex}}",
        "terminal.background": "#{{base00-hex}}",
        "terminal.foreground": null,
        "terminal.bright_foreground": null,
        "terminal.dim_foreground": null,
        "terminal.ansi.black": "#{{base00-hex}}",
        "terminal.ansi.bright_black": "#{{base03-hex}}",
        "terminal.ansi.dim_black": null,
        "terminal.ansi.red": "#{{base08-hex}}",
        "terminal.ansi.bright_red": "#{{base08-hex}}",
        "terminal.ansi.dim_red": null,
        "terminal.ansi.green": "#{{base0B-hex}}",
        "terminal.ansi.bright_green": "#{{base0B-hex}}",
        "terminal.ansi.dim_green": null,
        "terminal.ansi.yellow": "#{{base0A-hex}}",
        "terminal.ansi.bright_yellow": "#{{base0A-hex}}",
        "terminal.ansi.dim_yellow": null,
        "terminal.ansi.blue": "#{{base0D-hex}}",
        "terminal.ansi.bright_blue": "#{{base0D-hex}}",
        "terminal.ansi.dim_blue": null,
        "terminal.ansi.magenta": "#{{base0E-hex}}",
        "terminal.ansi.bright_magenta": "#{{base0E-hex}}",
        "terminal.ansi.dim_magenta": null,
        "terminal.ansi.cyan": "#{{base0C-hex}}",
        "terminal.ansi.bright_cyan": "#{{base0C-hex}}",
        "terminal.ansi.dim_cyan": null,
        "terminal.ansi.white": "#{{base05-hex}}",
        "terminal.ansi.bright_white": "#{{base07-hex}}",
        "terminal.ansi.dim_white": null,
        "link_text.hover": "#{{base0C-hex}}",
        "conflict": "#{{base0A-hex}}",
        "conflict.background": "#{{base00-hex}}",
        "conflict.border": "#{{base0A-hex}}",
        "created": "#{{base0B-hex}}",
        "created.background": "#{{base00-hex}}",
        "created.border": "#{{base0B-hex}}",
        "deleted": "#{{base08-hex}}",
        "deleted.background": "#{{base00-hex}}",
        "deleted.border": "#{{base08-hex}}",
        "error": "#{{base08-hex}}",
        "error.background": "#{{base00-hex}}",
        "error.border": "#{{base08-hex}}",
        "hidden": "#{{base03-hex}}",
        "hidden.background": "#{{base00-hex}}",
        "hidden.border": "#{{base03-hex}}",
        "hint": "#{{base05-hex}}",
        "hint.background": "#{{base00-hex}}",
        "hint.border": "#{{base0C-hex}}",
        "ignored": "#{{base03-hex}}",
        "ignored.background": "#{{base00-hex}}",
        "ignored.border": "#{{base03-hex}}",
        "info": "#{{base0C-hex}}",
        "info.background": "#{{base00-hex}}",
        "info.border": "#{{base0C-hex}}",
        "modified": "#{{base0D-hex}}",
        "modified.background": "#{{base00-hex}}",
        "modified.border": "#{{base0D-hex}}",
        "predictive": "#{{base03-hex}}",
        "predictive.background": "#{{base01-hex}}",
        "predictive.border":"#{{base02-hex}}",
        "renamed": "#{{base0A-hex}}",
        "renamed.background": "#{{base00-hex}}",
        "renamed.border": "#{{base0A-hex}}",
        "success": "#{{base0B-hex}}",
        "success.background": "#{{base00-hex}}",
        "success.border": "#{{base0B-hex}}",
        "unreachable": "#{{base0A-hex}}",
        "unreachable.background": "#{{base00-hex}}",
        "unreachable.border": "#{{base0A-hex}}",
        "warning": "#{{base0A-hex}}",
        "warning.background": "#{{base00-hex}}",
        "warning.border": "#{{base0A-hex}}",
        "players": [
          {
            "cursor": "#{{base05-hex}}",
            "selection": "#{{base02-hex}}",
            "background": null
          }
        ],
        "syntax": {
          "attribute": {
            "color": "#{{base0D-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "boolean": {
            "color": "#{{base09-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "comment": {
            "color": "#{{base03-hex}}",
            "font_style": "italic",
            "font_weight": null
          },
          "comment.doc": {
            "color": "#{{base03-hex}}",
            "font_style": "italic",
            "font_weight": null
          },
          "constant": {
            "color": "#{{base09-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "constructor": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "emphasis": {
            "color": "#{{base08-hex}}",
            "font_style": "italic",
            "font_weight": null
          },
          "emphasis.strong": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": 700
          },
          "function": {
            "color": "#{{base0D-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "keyword": {
            "color": "#{{base0E-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "label": {
            "color": "#{{base0A-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "link_text": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "link_uri": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "number": {
            "color": "#{{base09-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation": {
            "color": "#{{base05-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.bracket": {
            "color": "#{{base05-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.delimiter": {
            "color": "#{{base05-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.list_marker": {
            "color": "#{{base05-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.special": {
            "color": "#{{base05-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "string": {
            "color": "#{{base0B-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "string.escape": {
            "color": "#{{base09-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "string.regex": {
            "color": "#{{base0B-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "string.special": {
            "color": "#{{base0B-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "string.special.symbol": {
            "color": "#{{base0B-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "tag": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "text.literal": {
            "color": "#{{base0B-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "title": {
            "color": "#{{base0A-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "type": {
            "color": "#{{base0A-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "variable": {
            "color": "#{{base08-hex}}",
            "font_style": null,
            "font_weight": null
          },
          "variable.special": {
            "color": "#{{base08-hex}}",
            "font_style": "italic",
            "font_weight": null
          }
        }
      }
    }
  ]
}
